{% extends "base.html" %}

{% block title %}Log in - Intelligent Stock Trading bot{% endblock %}

{% block content %}
<div class="container">
    <h2>Log in</h2>
    <form action="/auth/login" method="post">
        <div class="form-group">
            <label for="user_name">Username:</label>
            <input type="text" id="user_name" name="user_name" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit" style="background-color: #007bff; border: none; color: #fff;">Log in</button>
        </div>
    </form>
</div>
{% endblock %}
